node_modules
.env
packages/dupa-contracts/.env
.env_bak
coverage
coverage.json
packages/dupa-contracts/typechain
yarn-error.log
tenderly.yaml
.idea/**/*
packages/dupa-library/src/domain/credentials.json

serviceRegistryEntries.txt

#Hardhat files
packages/dupa-contracts/abi/generated
cache
artifacts

lib

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
dist