node_modules
.env
packages/*/.env
.env_bak
coverage
coverage.json
packages/dma-contracts/typechain
yarn-error.log
lerna-debug.log
tenderly.yaml
.idea/**/*
.DS_Store

#Hardhat files
packages/dma-contracts/abi/generated
cache
artifacts

# Build outputs
lib
*.d.ts
*.d.ts.map
packages/dma-common/*.d.ts
packages/dma-common/*.d.ts.map
packages/dma-deployments/*.d.ts
packages/dma-deployments/*.d.ts.map
*.tsbuildinfo
.parcel-cache

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
dist
typechain/
abi/
