[submodule "libs/openzeppelin-contracts"]
	path = libs/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "libs/prb-math"]
	path = libs/prb-math
	url = https://github.com/paulrberg/prb-math
[submodule "libs/base64"]
	path = libs/base64
	url = https://github.com/Brechtpd/base64
[submodule "libs/clones-with-immutable-args"]
	path = libs/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args.git
