{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["packages/dma-contracts/contracts/libs/DS/DSGuard.sol"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "compiler": "0.4.24",
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": [
        "packages/dma-contracts/contracts/libs/DS/DSProxy.sol",
        "./contracts/libs/DS/DSProxyRegistry.sol"
      ],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "compiler": "0.5.17",
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": ["packages/dma-contracts/contracts/morphoblue/Morpho.sol"],
      "options": {
        "compiler": "0.8.19"
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "compiler": "0.8.15",
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      },
      "excludeFiles": [
        "packages/dma-contracts/contracts/libs/DS/DSGuard.sol",
        "packages/dma-contracts/contracts/libs/DS/DSProxy.sol",
        "packages/dma-contracts/contracts/libs/DS/DSProxyRegistry.sol",
        "packages/dma-contracts/contracts/morphoblue/Morpho.sol"
      ]
    }
  ]
}
