name: Lint

on: [ push ]

jobs:
  files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Clear Yarn cache
        run: yarn cache clean

      - name: Cache Yarn dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: ${{ runner.OS }}-yarn-cache-${{ hashFiles('**/yarn.lock') }}-v2
          restore-keys: |
            ${{ runner.OS }}-yarn-cache-

      - name: Install
        run: yarn --no-progress --non-interactive --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Compile contracts
        run: yarn compile
        env:
          BLOCK_NUMBER: 15946543
          NETWORK_FORK: 'mainnet'
          MAINNET_URL: ${{ secrets.MAINNET_URL }}

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn format