name: Check linting & types

on: [ push ]

jobs:
  files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache YARN dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.OS }}-yarn-cache-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-yarn-cache-

      - name: Install
        run: yarn --no-progress --non-interactive --frozen-lockfile

      - name: Build @oasisdex/dupa-library
        run: yarn workspace @oasisdex/dupa-library run build

      - name: Compile dupa-contracts
        run: yarn compile
        env:
          BLOCK_NUMBER: 15946543
          NETWORK_FORK: 'Mainnet'
          MAINNET_URL: 'https://mainnet.infura.io/v3/dc90181458b54f00aa581963ab47fdb9'

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn format

      - name: Typecheck
        run: yarn workspace @oasisdex/dupa-library run typecheck