name: Lint

on: 
  push:
      branches:
        - dev
  pull_request:
  workflow_dispatch:
      inputs:
        force_lint_files:
          description: 'Force lint files (true/false)'
          required: false
          default: 'false'
jobs:
  files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.12.1

      - name: Clear Yarn cache
        run: yarn cache clean

      - name: Cache Yarn dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: ${{ runner.OS }}-yarn-cache-${{ hashFiles('**/yarn.lock') }}-v2
          restore-keys: |
            ${{ runner.OS }}-yarn-cache-

      - name: Clear Yarn cache
        run: yarn cache clean

      - name: Install
        run: yarn --no-progress --non-interactive --frozen-lockfile

      - name: Build packages
        run: yarn build
        env:
          BLOCK_NUMBER: 15946543
          NETWORK_FORK: 'mainnet'
          MAINNET_URL: ${{ secrets.MAINNET_URL }}

      - name: Lint
        run: yarn lint

      - name: Format
        run: yarn format:check