name: Tests

on:
  push:
    branches:
      - dev
  pull_request:
  workflow_dispatch:
    inputs:
      force_run_tests:
        description: 'Force run tests (true/false)'
        required: false
        default: 'false'

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Check out github repository
        id: github-checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v11

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v2
        if:
          (github.event.inputs.force_run_tests == 'true') ||
          (contains(steps.changed-files.outputs.all_changed_and_modified_files, 'packages/'))
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install node
        id: install-node
        uses: actions/setup-node@v3
        if:
          (github.event.inputs.force_run_tests == 'true') ||
          (contains(steps.changed-files.outputs.all_changed_and_modified_files, 'packages/'))
        with:
          node-version: '16.x'

      - name: Install dependencies
        id: install-dependencies
        if:
          (github.event.inputs.force_run_tests == 'true') ||
          (contains(steps.changed-files.outputs.all_changed_and_modified_files, 'packages/'))
        run: yarn

      - name: Build project
        id: build-project
        if:
          (github.event.inputs.force_run_tests == 'true') ||
          (contains(steps.changed-files.outputs.all_changed_and_modified_files, 'packages/'))
        run: yarn build
        env:
          BLOCK_NUMBER: 17776518
          NETWORK_FORK: mainnet
          MAINNET_URL: ${{ secrets.MAINNET_URL }}
          PRIV_KEY_MAINNET: ${{ secrets.PRIV_KEY_MAINNET }}

      - name: Run all tests
        id: all-tests
        if:
          (github.event.inputs.force_run_tests == 'true') ||
          (contains(steps.changed-files.outputs.all_changed_and_modified_files, 'packages/'))
        run: yarn test
        env:
          BLOCK_NUMBER: 17776518
          NETWORK_FORK: mainnet
          MAINNET_URL: ${{ secrets.MAINNET_URL }}
          PRIV_KEY_MAINNET: ${{ secrets.PRIV_KEY_MAINNET }}
